* {
    padding: 0;
    margin: 0;
}
.left-container {
    position: relative;
    float: left;
    width: 22%;
    height: 100%;
   background-color: rgb(75, 74, 74);
}
.empbutton {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 45%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #cefd61;
}
.studbutton {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 45%;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #cefd61;
}
.studbutton:hover , .empbutton:hover {
    background-color: rgb(197, 250, 8);   
}
.right-container {
    position: absolute;
    left: 22%;
    right: 0%;
    background-color: rgb(155, 155, 155);
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-gap: 10px;
    background-color: rgb(75, 74, 74);
    padding: 15px;
}
.grid-container {    
    padding: 20px;
    margin-left: 30px;
    margin-right: 150px;
}
.grid-header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    color: #fff;
    background-color: rgb(75, 74, 74);
}
.grid > div {
    display: grid;
    background-color: #c0c0c0;
    grid-template-rows: 50px 10px;
    padding: 10px;
}
.edit {
    position: relative;
    width: 30%;
    left: 15%;
    top: 20px;
    height: 30px;
    font-weight: 600;
    color: rgb(12, 12, 12);
    cursor: pointer;
}
.delete {
    position: relative;
    width: 30%;
    left: 50%;
    bottom: 30px;
    height: 30px;
    font-weight: 600;
    color: rgb(8, 8, 8);
    cursor: pointer;
}
h3 {
    margin-top: 10px;
    margin-bottom: 3px;
}
.form-container {
    padding: 2%;
    width: 30%;
    background-color: rgb(155, 155, 155);
    border: solid rgb(75, 74, 74);
    font-weight: 700;
    margin-left: 4%;
    margin-right: 600px;
    height: 180px;
}
.name {
    margin-bottom: 5%;
    bottom: 10%;
    height: 30px;
    background-color:rgb(219, 219, 219);
    border: solid rgb(75, 74, 74);
}
.area {
    margin-bottom: 5%;
    height: 30px;
    background-color:rgb(219, 219, 219);
    border: solid rgb(75, 74, 74);
}
.id {
    margin-bottom: 5%;
    height: 30px;
    background-color:rgb(219, 219, 219);
    border: solid rgb(75, 74, 74);    
}
.add {
    float: right;
    position: relative;
    width: 80px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(75, 74, 74);
}
.edit:active , .delete:active {
    background-color: rgb(75, 74, 74);
}
.form-header {
    margin-left: 4%;
    width: 13%;
    height: 2%;
    text-align: center;
}
.form {
    white-space: pre;
}